  /*  Banner encabezado para autores y actividades (seccion en index) */

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #004669;
  border-color: #F4AF00;
}
